---
layout: default
title: Downloads
---

<section class="bg-light">
  <div class="container px-4 py-2">
    <h1 class="mt-4 fs-2">Releases</h1>
  </div>
</section>

<section>
  <div class="container px-4 py-4">
    {% for release in site.github.releases %}
    <div class="fs-3">
      {{ release.name }}
    </div>
    <p class="text-secondary fs-80p">
      {% if release.prerelease %}
      <span class="badge bg-secondary">Pre-release</span> &nbsp;
      {% endif %}
      <i class="fa fa-tag"></i> {{ release.tag_name}} &nbsp;
      <i class="far fa-calendar"></i> {{ release.created_at | split: ' ' | first }} &nbsp;
      <!--<i class="far fa-user"></i> {{ release.author.login }} &nbsp;-->
      <i class="fab fa-github"></i> <a href="{{ release.html_url }}">Github</a> &nbsp;
    </p>
    {% if release.body %}
    <p>{{ release.body }}</p>
    {% endif %}
    <!--Assets:-->
    <ul>
      {% for asset in release.assets %}
      {% if asset.content_type != 'application/x-yaml' %}
      <li>
        <a href="{{ asset.url }}" title="Downloads: {{ asset.download_count }}">{{ asset.name }}</a> ({{ asset.size |
        divided_by: 1048576 }} MB)
      </li>
      {% endif %}
      {% endfor %}
      <li>
        <a href="https://github.com/VUEngine/VUEngine-Studio/archive/refs/tags/{{ release.tag_name }}.zip">Source
          code</a> (zip)
      </li>
      <li>
        <a href="https://github.com/VUEngine/VUEngine-Studio/archive/refs/tags/{{ release.tag_name }}.tar.gz">Source
          code</a> (tar.gz)
      </li>
    </ul>
    {% endfor %}





    <div class="fs-3">
      VUEngine Studio Preview 2
    </div>
    <p class="text-secondary fs-80p">
      <i class="fa fa-tag"></i> v0.2.0 &nbsp;
      <i class="far fa-calendar"></i> 2024-01-16 &nbsp;
      <i class="fab fa-github"></i> <a href="https://github.com/VUEngine/VUEngine-Studio/releases/tag/v0.2.0"
        data-jzz-gui-player="true">Github</a> &nbsp;
    </p>
    <p>Updated Preview release.</p>
    <ul>
      <li>
        <a href="https://api.github.com/repos/VUEngine/VUEngine-Studio/releases/assets/145899956" title="Downloads: 0"
          data-jzz-gui-player="true">VUEngine-Studio-0-2-0-Setup.deb</a> (160 MB)
      </li>
      <li>
        <a href="https://api.github.com/repos/VUEngine/VUEngine-Studio/releases/assets/145902693" title="Downloads: 0"
          data-jzz-gui-player="true">VUEngine-Studio-0-2-0-Setup.exe</a> (312 MB)
      </li>
      <li>
        <a href="https://api.github.com/repos/VUEngine/VUEngine-Studio/releases/assets/145901828" title="Downloads: 0"
          data-jzz-gui-player="true">VUEngine-Studio-0-2-0-Setup.pkg</a> (243 MB)
      </li>
      <li>
        <a href="https://api.github.com/repos/VUEngine/VUEngine-Studio/releases/assets/145900714" title="Downloads: 0"
          data-jzz-gui-player="true">VUEngine-Studio-0-2-0.AppImage</a> (252 MB)
      </li>
      <li>
        <a href="https://github.com/VUEngine/VUEngine-Studio/archive/refs/tags/v0.2.0.zip"
          data-jzz-gui-player="true">Source
          code</a> (zip)
      </li>
      <li>
        <a href="https://github.com/VUEngine/VUEngine-Studio/archive/refs/tags/v0.2.0.tar.gz"
          data-jzz-gui-player="true">Source
          code</a> (tar.gz)
      </li>
    </ul>

    <div class="fs-3">
      VUEngine Studio Preview
    </div>
    <p class="text-secondary fs-80p">
      <i class="fa fa-tag"></i> v0.1.0 &nbsp;
      <i class="far fa-calendar"></i> 2022-03-24 &nbsp;
      <i class="fab fa-github"></i> <a href="https://github.com/VUEngine/VUEngine-Studio/releases/tag/v0.1.0"
        data-jzz-gui-player="true">Github</a> &nbsp;
    </p>
    <p>First public preview release. MacOS and Windows versions only for now, Linux will follow.</p>
    <ul>
      <li>
        <a href="https://api.github.com/repos/VUEngine/VUEngine-Studio/releases/assets/60513750" title="Downloads: 89"
          data-jzz-gui-player="true">VUEngine-Studio-Preview-Mac.zip</a> (222 MB)
      </li>
      <li>
        <a href="https://api.github.com/repos/VUEngine/VUEngine-Studio/releases/assets/60514220" title="Downloads: 234"
          data-jzz-gui-player="true">VUEngine-Studio-Preview-Setup-Windows.exe</a> (288 MB)
      </li>
      <li>
        <a href="https://github.com/VUEngine/VUEngine-Studio/archive/refs/tags/v0.1.0.zip"
          data-jzz-gui-player="true">Source
          code</a> (zip)
      </li>
      <li>
        <a href="https://github.com/VUEngine/VUEngine-Studio/archive/refs/tags/v0.1.0.tar.gz"
          data-jzz-gui-player="true">Source
          code</a> (tar.gz)
      </li>
    </ul>





  </div>
</section>