<div class="col-md-4">
	<div class="card shadow-sm h-100">
		<div class="card-body">
			<h5 class="card-title">{{ item.title }}</h5>
			<p class="card-text">{{ item.text }}</p>
		</div>
		<div class="card-footer d-flex column-gap-1 align-items-center">
			{% for link in item.links %}
			<a type="button"
				class="btn btn-sm btn-outline-secondary btn-link-{{ link.icon | replace: 'fab fa-', '' | replace: 'fas fa-', '' }}"
				href="{{ link.link }}">
				<i class="{{ link.icon }}"></i> {{ link.button }}
			</a>
			{% endfor %}
		</div>
	</div>
</div>