<script src="/assets/js/lunr.min.js"></script>
<script>
  let documents = {};
  let idx = false;

  function lunr_search(term) {
    if (term && idx) {
      document.getElementById('lunrsearchresults').innerHTML = document.getElementById('lunrsearchresults').innerHTML;
      const results = idx.search('*' + term + '*');
      if (results.length > 0) {
        document.querySelectorAll('#lunrsearchresults')[0].innerHTML = '';
        for (let i = 0; i < results.length; i++) {
          const result = results[i];
          const ref = result.ref;
          const metadata = Object.values(result.matchData.metadata)[0].content;
          const doc = documents[ref];
          const url = doc.url;
          const title = doc.title;
          const content = doc.content;
          const icon = url.startsWith('/documentation/') ? 'fas fa-book fa-fw' : 'far fa-file fa-fw';
          const context = content.slice(
            Math.max(0, metadata.position[0][0] - 25),
            Math.min(metadata.position[0][0] + term.length + 25, content.length)
          ).replace(new RegExp(term, 'gi'), '<span class="text-primary">$&</span>');

          document.querySelectorAll('#lunrsearchresults')[0].innerHTML =
            document.querySelectorAll('#lunrsearchresults')[0].innerHTML +
            '<a href="' + url + '" class="list-group-item d-flex gap-3">' +
            '<span class="icon"><i class="' + icon + '"></i></span>' +
            '<span class="page flex-grow-1 d-flex flex-column">' +
            '<span class="snippet text-nowrap">...' + context + '...</span>' +
            '<span class="title text-secondary">' + title + '</span>' +
            '</span>' +
            '<span>↵</span>' +
            '</a>';
        }
      } else {
        document.querySelectorAll('#lunrsearchresults')[0].innerHTML = "Nothing found.";
      }
    } else {
      document.getElementById('lunrsearchresults').innerHTML = '';
    }
    return false;
  }

  onkeydown = function (e) {
    if ((e.ctrlKey || e.metaKey) && e.key === 'k') {
      e.preventDefault();
      document.getElementById('siteSearchToggle').click();
    }
  }

  document.getElementById('siteSearch').addEventListener('shown.bs.modal', async () => {
    document.getElementById('lunrsearch').focus();

    if (!Object.keys(documents).length) {
      const response = await fetch('/site-search-index/');
      documents = await response.json();
      idx = lunr(function () {
        this.ref('url')
        this.field('content')
        this.metadataWhitelist = ['position', 'length']
        Object.values(documents).forEach(function (doc) {
          this.add(doc)
        }, this)
      });
    }
  });
</script>

<style>
  html[data-bs-theme="dark"] .siteSearch-input i {
    color: rgba(const(--bs-light-rgb), var(--bs-text-opacity)) !important;
  }
</style>

<div class="siteSearch-input">
  <i class="fas fa-search fa-lg text-dark position-absolute" style="left:32px;top:32px;"></i>
  <input type="text" class="form-control form-control-lg" style="padding:0 48px" id="lunrsearch" name="q"
    maxlength="255" value="" placeholder="Search" autocomplete="off" oninput="lunr_search(this.value)" />
  <span class="keys position-absolute" data-osx="⌘K" style="right:30px;top:30px;">Ctrl+K</span>
</div>
<div id="lunrsearchresults" class="list-group overflow-auto flex-grow-1">
</div>
<div class="d-flex gap-3">
  <div>
    <span class="keys">↑</span> <span class="keys">↓</span> navigate
  </div>
  <div>
    <span class="keys">↵</span> select
  </div>
  <div>
    <span class="keys">esc</span> close
  </div>
</div>