/* Bootstrap overrides */
body {
  overflow-y: scroll;
}

h1 {
  margin-bottom: 1.5rem;
}
h2 {
  margin: 2rem 0 1rem;
}
.accordion h2 {
  margin-top: 0;
}

a {
  color: #d31422;
}
a:hover {
  color: #930c16;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 8px;
}

.btn-primary {
  background-color: #d31422;
  border-color: #d31422;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #930c16;
  border-color: #930c16;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #666;
  border-color: #666;
}

.btn-patreon {
  color: #ec6350;
  border-color: #fff;
  background-color: #fff;
}
.btn-patreon:hover {
  background-color: #c65141;
  border-color: #c65141;
  color: #fff;
}

.text-primary {
  color: #d31422 !important;
}

.bg-light {
  background-color: #eee !important;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-caption {
  bottom: 0;
  font-size: 0.8rem;
}

.carousel .carousel-caption,
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
}

.carousel:hover .carousel-caption,
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  opacity: 1;
  transition-delay: 0s;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
  color: unset;
}

.accordion-button::after {
  background-image: none !important;
}

/* Custom */

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  display: none;
  left: -25px;
  padding-right: 100%;
  position: absolute;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  display: block;
}

body.os-osx .target-os-win,
body.os-linux .target-os-win,
body.os-other .target-os-win,
body.os-win .target-os-osx,
body.os-linux .target-os-osx,
body.os-other .target-os-osx,
body.os-win .target-os-linux,
body.os-osx .target-os-linux,
body.os-other .target-os-linux,
body.os-win .target-os-other,
body.os-osx .target-os-other,
body.os-linux .target-os-other,
body.os-win .target-os-not-win,
body.os-osx .target-os-not-osx,
body.os-linux .target-os-not-linux,
body.os-other .target-os-not-other {
  display: none;
}

.keys {
  background-color: #6c757d;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  padding: 0.3em 0.5em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.highlighter-rouge > .highlight {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.highlighter-rouge pre {
  margin-bottom: 0;
}

.fs-80p {
  font-size: 80%;
}

.fs-90p {
  font-size: 90%;
}

.footer .btn:hover .fa-discord {
  color: #7a83e6;
}
.footer .btn:hover .fa-github {
  color: #333;
}
.footer .btn:hover .fa-patreon {
  color: #ff424d;
}
.footer .btn:hover .fa-twitter {
  color: #1d9bf0;
}
.footer .btn:hover .fa-youtube {
  color: #ff0000;
}
