/* Bootstrap overrides */
a {
  color: #d31422;
}
a:hover {
  color: #930c16;
}

.btn-primary {
  background-color: #d31422;
  border-color: #d31422;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #930c16;
  border-color: #930c16;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #666;
  border-color: #666;
}

.btn-patreon {
  color: #ec6350;
  border-color: #fff;
  background-color: #fff;
}
.btn-patreon:hover {
  background-color: #c65141;
  border-color: #c65141;
  color: #fff;
}

.text-primary {
  color: #d31422 !important;
}

.bg-light {
  background-color: #eee !important;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-caption {
  bottom: 0;
  font-size: 0.8rem;
}

.carousel .carousel-caption,
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
}

.carousel:hover .carousel-caption,
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  opacity: 1;
  transition-delay: 0s;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
  color: unset;
}

.accordion-button::after {
  background-image: none !important;
}

/* Custom */

.highlighter-rouge > .highlight {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.highlighter-rouge pre {
  margin-bottom: 0;
}

.fs-90p {
  font-size: 90%;
}

.footer .btn:hover .fa-discord {
  color: #7a83e6;
}
.footer .btn:hover .fa-github {
  color: #333;
}
.footer .btn:hover .fa-patreon {
  color: #ff424d;
}
.footer .btn:hover .fa-twitter {
  color: #1d9bf0;
}
.footer .btn:hover .fa-youtube {
  color: #ff0000;
}
