/* Bootstrap overrides */
body {
  overflow-y: scroll;
}

a {
  color: #d31422;
}

a:hover {
  color: #930c16;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 8px;
}

.btn-primary {
  background-color: #d31422;
  border-color: #d31422;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #930c16;
  border-color: #930c16;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #666;
  border-color: #666;
}

.btn-patreon:hover {
  background-color: #c65141;
  border-color: #c65141;
  color: #fff;
}

.text-primary {
  color: #d31422 !important;
}

.bg-light {
  background-color: #eee !important;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-caption {
  bottom: 0;
  font-size: 0.8rem;
}

.carousel .carousel-caption,
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
}

.carousel:hover .carousel-caption,
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  opacity: 1;
  transition-delay: 0s;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
  color: unset;
}

.accordion-button::after {
  background-image: none !important;
}

.documentation h1 {
  margin-bottom: 1.5rem;
}

.documentation h2 {
  margin: 2rem 0 1rem;
}

.documentation .accordion h2 {
  margin: 0;
}

.documentation img {
  max-width: 100%;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

/* Custom */

.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4,
.documentation h5,
.documentation h6 {
  position: relative;
}

.documentation h1 a,
.documentation h2 a,
.documentation h3 a,
.documentation h4 a,
.documentation h5 a,
.documentation h6 a {
  display: none;
  left: -25px;
  padding-right: 100%;
  position: absolute;
}

.documentation h1:hover a,
.documentation h2:hover a,
.documentation h3:hover a,
.documentation h4:hover a,
.documentation h5:hover a,
.documentation h6:hover a {
  display: block;
}

body.os-osx .target-os-win,
body.os-linux .target-os-win,
body.os-other .target-os-win,
body.os-win .target-os-osx,
body.os-linux .target-os-osx,
body.os-other .target-os-osx,
body.os-win .target-os-linux,
body.os-osx .target-os-linux,
body.os-other .target-os-linux,
body.os-win .target-os-other,
body.os-osx .target-os-other,
body.os-linux .target-os-other,
body.os-win .target-os-not-win,
body.os-osx .target-os-not-osx,
body.os-linux .target-os-not-linux,
body.os-other .target-os-not-other {
  display: none;
}

.documentation .keys {
  background-color: #6c757d;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  padding: 0.3em 0.5em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.highlighter-rouge>.highlight {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.highlighter-rouge pre {
  margin-bottom: 0;
}

.fs-80p {
  font-size: 80%;
}

.fs-90p {
  font-size: 90%;
}

.footer .btn:hover .fa-discord {
  color: #7a83e6;
}

.footer .btn:hover .fa-github {
  color: #333;
}

.footer .btn:hover .fa-patreon {
  color: #ff424d;
}

.footer .btn:hover .fa-twitter {
  color: #1d9bf0;
}

.footer .btn:hover .fa-youtube {
  color: #ff0000;
}

/* Codicon overrides */

.documentation .codicon[class*="codicon-"] {
  color: #d63384;
  font-size: 120%;
  vertical-align: text-bottom;
}

/* Font Awesome overrides */

.documentation .fa,
.documentation .fab,
.documentation .far,
.documentation .fas {
  color: #d63384;
}