<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	</head>
	<body class="d-flex flex-column h-100">
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a href="/">
						<img src="/assets/images/logo.png" width="44" height="44" class="mr-2"/>
					</a>
					<a class="navbar-brand" href="/">
						VUEngine
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<!--
							<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/updates">Updates</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/studio">Studio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/core">Core</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/games">Games</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/sources">Sources</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/downloads">Downloads</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/docs">Docs</a>
							</li>
							-->
						</ul>
						<!--
						<a href="/downloads" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Download</a>
						-->
					</div>
				</div>
			</nav>
		</header>
		<main role="main" class="flex-shrink-0">
    			{{ content }}
		</main>
		<footer class="footer mt-auto py-3 bg-light">
			<div class="container">
				© 2006, 2019 Team VUEngine
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
