<!DOCTYPE html>
<html class="h-100" lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>
    {% if page.url != "/" %}{{ page.title }} - {% endif %}{% if page.url contains "/documentation/" %}Documentation - {%
    endif %}{{ site.title }}
  </title>

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
  <link rel="stylesheet" href="/assets/codicon/codicon.css" />
  <link rel="stylesheet" href="/assets/style.css?{{ site.time | split:' ' | first }}" />
  <link rel="stylesheet" href="/assets/rogue/syntax-base16.monokai.dark.css" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
</head>

<body class="d-flex flex-column h-100 os-other">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 shadow text-bg-primary">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
        <a href="/" class="d-flex align-items-center col-lg-3 mb-2 mb-lg-0 text-decoration-none">
          <img src="/assets/images/logo.png" width="44" height="44" class="bi me-2" />
          <span class="fs-2 text-nowrap text-white">
            <strong>{{ site.title }}</strong>
          </span>
        </a>

        <ul class="nav col-lg-7 fs-6 justify-content-center">
          {% for node in site.nav.pages %} {%- assign check = page.url |
          split:'/' -%} {%- assign topPage = check[1] | append: '/' | prepend:
          '/' -%}
          <li>
            <a class="nav-link fs-5 px-2 {% if page.url == node[1] or node[1] == topPage %}text-white{% else %}text-secondary{% endif %}"
              href="{{ node[1] }}">
              {{ node[0] }}
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="col-lg-2 text-end text-nowrap d-none d-lg-block">
          {% comment %}
          {% include search-lunr.html %}
          {% endcomment %}
          <a href="https://www.patreon.com/VUEngine" role="button"
            class="btn btn-outline-light btn-patreon d-inline-block">
            <i class="fab fa-patreon"></i> Donate
          </a>
          <button class="btn btn-link nav-link py-2 px-0 px-lg-2 fs-5 d-inline-block" id="bd-theme" type="button"
            aria-label="Toggle theme (auto)" title="Toggle theme (auto)">
            <i class="far fa-sun" data-bs-theme-value="light"></i>
            <i class="far fa-moon" data-bs-theme-value="dark"></i>
            <i class="fas fa-adjust" data-bs-theme-value="auto"></i>
          </button>
        </div>
      </div>
    </div>
  </header>

  <main role="main" class="flex-shrink-0">{{ content }}</main>

  <footer class="footer mt-auto py-3 text-bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-2 text-center text-md-start">{{ site.data.footer.copyright }}</div>
        <div class="col-md-6 text-center text-md-end">
          {% for link in site.data.footer.links %}
          <a role="button" href="{{ link.link }}" class="btn fs-2 text-white">
            <i class="{{ link.icon }}"></i>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </footer>

  <script>
    const osMap = { Win: "win", Mac: "osx", Linux: "Linux" };
    const keyLabels = document.getElementsByClassName("keys");
    Object.keys(osMap).forEach(key => {
      const os = osMap[key];
      if (navigator.appVersion.indexOf(key) != -1) {
        document.body.classList.remove("os-other");
        document.body.classList.add("os-" + os);
        Array.prototype.forEach.call(keyLabels, (keyLabel) => {
          const keyData = keyLabel.getAttribute("data-" + os);
          if (keyData) { keyLabel.innerHTML = keyData; }
        });
      }
    });
  </script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/bootstrap/color-mode.js"></script>
</body>

</html>