---
layout: default
---

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sticky-top mb-5 me-3" style="top: 20px">
          {% include search-lunr.html %}

          <div class="accordion accordion-flush mt-4" id="docsnav">
            {% for section in site.data.docs %}
            {% assign collapsed = true %}
            {% assign currentDocUrl = '' %}
            {% for docPage in section[1] %}
                {% assign docPageLink = docPage.url %}
                {% if page.url == docPageLink %}
                    {% assign currentDocUrl = docPage.url %}
                    {% assign collapsed = false %}
                    {% assign currentDocSection = section[0] %}
                    {% break %}
                {% endif %}
            {% endfor %}

            <div class="accordion-item border-bottom-0">
              <h2
                class="accordion-header"
                id="flush-heading{{ forloop.index }}"
              >
                <button
                  class="accordion-button px-1 py-2 shadow-none{% if collapsed %} collapsed{% endif %}"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse{{ forloop.index }}"
                  aria-expanded="{% if collapsed %}false{% else %}true{% endif %}"
                  aria-controls="flush-collapse{{ forloop.index }}"
                >
                  {{ section[0] }}
                </button>
              </h2>
              <div
                id="flush-collapse{{ forloop.index }}"
                class="accordion-collapse collapse{% unless collapsed %} show{% endunless %}"
                aria-labelledby="flush-heading{{ forloop.index }}"
                data-bs-parent="#docsnav"
              >
                <ul class="list-unstyled mx-2 mb-3 fs-90p">
                  {% for docPage in section[1] %}
                  <li>
                    {% if docPage.url == currentDocUrl %}
                    <a
                      href="{{ docPage.url }}"
                      class="text-decoration-none text-primary"
                    >
                      {% else %}
                      <a
                        href="{{ docPage.url }}"
                        class="text-decoration-none text-secondary"
                      >
                      {% endif %} {{ docPage.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-9">
        {% comment %}
        <nav aria-label="breadcrumb" class="mt-1 mb-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary">
              <i class="fas fa-book"></i>
              <a href="/documentation/" class="text-decoration-none"
                >Documentation</a
              >
            </li>
            {% unless page.url == '/documentation/' %}
            <li class="breadcrumb-item text-muted">{{ currentDocSection }}</li>
            {% endunless %}
            <li class="breadcrumb-item text-muted" aria-current="page">
              {{ page.title }}
            </li>
          </ol>
        </nav>
        {% endcomment %}

        {{ content }}

        {% assign done = false %} 
        {% for section in site.data.docs %} 
            {% for docPage in section[1] %} 
                {% if done == false %}
                    {% if page.url == docPageLink %} 
                        <div class="fs-5 my-5">
                            Next:
                            <a
                                href="{{ docPage.url }}"
                                class="text-decoration-none text-primary"
                            >
                                {{ docPage.name }}
                            </a>
                        </div>
                        {% assign done = true %} 
                    {% endif %} 
                    {% assign docPageLink = docPage.url %} 
                {% endif %}
            {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
